@use 'menu-vars';
@use '../../_utils';

$menu-config: menu-vars.$menu-config;

// read variables
$menu_class_name: map-get($menu-config, menu_class_name);
$menu_class_name_short: map-get($menu-config, menu_class_name_short);

$menu_item_class_name: map-get($menu-config, menu_item_class_name);
$menu_item_class_name_short: map-get($menu-config, menu_item_class_name_short);

$orientations: map-get($menu-config, orientations);
$menu_item_disabled_tag: map-get($menu-config, menu_item_disabled_tag);
$menu_item_selected_tag: map-get($menu-config, menu_item_selected_tag);

$menu_dropdown_tag: map-get($menu-config, menu_dropdown_tag);
$menu_dropdown_open: map-get($menu-config, menu_dropdown_open);
$menu_dropdown_close: map-get($menu-config, menu_dropdown_close);

@mixin buildMenu($mq_key) {
  $class_name: if($mq_key, #{$menu_class_name}-#{$mq_key}, #{$menu_class_name});

  #{$menu_class_name_short} {
    &.#{$class_name} {
      list-style: none;
      list-style-type: none;


      @each $orientation_key, $orientation in $orientations {

        &-#{$orientation_key} {
          padding: 0;
          margin: 0;
          line-height: var(--box-density-2);

          & li.#{$menu_item_class_name},
          li {
            display: block;
            margin: 0;
            width: auto;
            transition-property: all;
            transition-duration: 0.15s;
            padding: var(--box-density-1);
            border-left: 1px solid var( --theme-color-border );

            &:hover {
              border-radius: var(--radius-small);
              background-color: #ededed;
              border-left: 1px solid var(--theme-color-primary);
            }

            &.active {
              border-radius: var(--radius-small);
              background-color: #ededed;
              font-weight: bold;
            }

            &.menu-small {

            }
          }

          & li {
            list-style: none;
          }
        }
      }

      &-v {
        & li.#{$menu_item_class_name},
        li {
          &.active {
            font-weight: bold;
            margin-left: 1rem;
          }

        }
      }

      &-h {
        max-width: 100%;
        display: inline-flex;
        padding: 0 0;
        position: relative;
        border-bottom: 1px solid #ededed;
        overflow-x: auto;
        overflow-y: hidden;

        & li.#{$menu_item_class_name},
        li {
          margin: 0;
          text-align: center;
        }
      }
    }
  }
}

$menu-border-color: red;


/* & li.#{$menu_item_class_name}{
    dsp: none;
}
&-drop{
    dsp: none;
    & .#{$menu_class_name}-#{$menu_dropdown_open}{
        dsp: none;
        & li.#{$menu_item_class_name}, > li{
            dsp: none;
        }
    }
    & .#{$menu_class_name}-#{$menu_dropdown_close}{
        dsp: none;
        & li.#{$menu_item_class_name}, > li{
            dsp: none;
        }
    }
}*/
