@use '../../utils';
@use "../cssfabric-config";

$box-unit-config: rem;
$box-border-unit-config: px;
$box-unit-size-config: 0.5;
$box-unit-border-size-config: 1;

$box-sizes-config: 12;
$box-sizes-border-config: 3;

$box-shadows-steps: 5;
$box-shadows-step-multiplier: 2;

$_shadows-v_fact: 2.4;
$_shadows-h_fact: 1.16;

$_shadows-v_fact_2: 13.1;
$_shadows-h_fact_2: 4.3;

$shadow-factors: (
        v_fact:$_shadows-v_fact,
        h_fact:$_shadows-h_fact,
        v_fact_2:$_shadows-v_fact_2,
        h_fact_2:$_shadows-h_fact_2,
)!default;

$box-border-shorthands: (
        _: top bottom left right,
        t: top,
        b: bottom,
        l: left,
        r: right,
        all: top bottom left right,
        u: bottom left right,
        ii: left right,
        tb: top bottom
)!default;

$box-position-shorthands: (
        abs: absolute,
        rel: relative,
        stat: static,
        fix: fixed,
        sticky: sticky
)!default;

$box-display-shorthands: (
        block: block,
        none: none,
        inline: inline,
        block-inline: inline-block,
        flex-inline: inline-flex,
        tbl: table,
        tbl-row: table-row,
        tbl-cell: table-cell,
        tbl-column: table-column
);

$box-metadata: (
        title: "box",
        tag: "box",
        description: "cssfabric box module to set heights, paddings, margins and shadows on all html elements"
);

$box-config: (
        unit-config: $box-unit-config,
        border-unit-config: $box-border-unit-config,
        unit-size-config: $box-unit-size-config,
        unit-border-size-config: $box-unit-border-size-config,
        sizes-config: $box-sizes-config,
        border-sizes-px-config: $box-sizes-border-config,
        shadows-steps: $box-shadows-steps,
        shadows_step_multiplier: $box-shadows-step-multiplier,
  //
        position-shorthand-config: cssfabric-config.$box-position-shorthand,
        display-shorthand-config: cssfabric-config.$box-display-shorthand,
        shadow-shorthand-config:cssfabric-config.$box-shadow-shorthand,
        border-shorthand-config: cssfabric-config.$box-border-shorthand,
        padding-shorthand-config: cssfabric-config.$box-padding-shorthand,
        margin-shorthand-config: cssfabric-config.$box-margin-shorthand,

        cssProps:(
                borderShorthands: $box-border-shorthands,
                positionProps: $box-position-shorthands,
                displayProps: $box-display-shorthands
        )
);

$box-docs: (
        attributes:(
                padding: (
                        tag:  cssfabric-config.$box-padding-shorthand,
                        keys: utils.getObjectKeys($box-border-shorthands),
                        values: utils.getBoxIterator($box-sizes-config, $box-unit-config, $box-unit-size-config),
                        levels: ("_":utils.getObjectKeys(utils.getBoxIterator($box-sizes-config, $box-unit-config, $box-unit-size-config))),
                        about: "padding properties for html elements"
                ),
                margin: (
                        tag: cssfabric-config.$box-margin-shorthand,
                        keys: utils.getObjectKeys($box-border-shorthands),
                        values: utils.getBoxIterator($box-sizes-config, $box-unit-config, $box-unit-size-config),
                        levels: ("_":utils.getObjectKeys(utils.getBoxIterator($box-sizes-config, $box-unit-config, $box-unit-size-config))),
                        about: "margin properties for html elements"
                ),
                border: (
                        tag: cssfabric-config.$box-border-shorthand,
                        keys: utils.getObjectKeys($box-border-shorthands),
                        values: utils.getBoxIterator($box-sizes-border-config, $box-border-unit-config, $box-unit-border-size-config),
                        levels: ("_":utils.getObjectKeys(utils.getBoxIterator($box-sizes-border-config, $box-border-unit-config, $box-unit-border-size-config))),
                        about: "border properties for html elements"
                ),
                radius : (tag: radiusGuy),
                shadow: (
                        tag: cssfabric-config.$box-shadow-shorthand,
                        values: utils.getShadowIterator($shadow-factors, $box-shadows-steps),
                        levels:("_": utils.getObjectKeys(utils.getShadowIterator($shadow-factors, $box-shadows-steps))
                        ),
                        about: "applying shadows give depth and levels to your design"
                )
        ));
