@use "sass:map";
@use "sass:math";


// prefix ?
// scoped ?

// dimensions

// grays
$has-color-gray: true;
$has-color-gray-responsive: true;
// text - done conditionals
$has-text-transform: true;
$has-text-transform-responsive: false;
$has-text-align: true;
$has-text-align-responsive: false;
$has-text-font: true;
$has-text-font-responsive: false;
$has-text-shadow-color-scheme: true;
$has-text-shadow-color-scheme-responsive: false;
$has-text-shadow-color-palette: true;
$has-text-shadow-color-palette-responsive: false;

// colors
$has-color-palette: true;
$has-color-palette-responsive: false;
$has-color-scheme: true;
$has-color-scheme-responsive: false;
$has-color-gray: true;
$has-color-gray-responsive: false;

$has-color-foreground: true;
$has-color-bg: true;
$has-color-bg-themed: true;
$has-color-border: true;


$theme-color-primary: rgb(32, 23, 0) !default;
$theme-color-secondary: #D14B02 !default;
$theme-color-tertiary: #88D102 !default;
//light theme
$theme-color-foreground: #282230 !default;
$theme-color-background: #ffffff !default;
$theme-color-paper: #f1f1f1 !default;

$theme-color-shadow: green !default;
// dark theme
$theme-dark-color-foreground: #f1f1f1 !default;
$theme-dark-color-background: #27323a !default;
$theme-dark-color-paper: #3a3b3b !default;

$theme-dark-color-shadow: black !default;

// grays
$gray-start: #f4f4f4 !default;
$gray-end: #999 !default;
$gray-steps: 5 !default;

$densities-ratios: (small:0.5, default:1, large:1.75);

$box-position-shorthand: pos !default;
$box-display-shorthand: dsp !default;
$box-shadow-shorthand: shad !default;
$box-border-shorthand: border !default;
$box-padding-shorthand: pad !default;
$box-margin-shorthand: marg !default;
$box-gap-shorthand: gap !default;

$box-unit-presets: (tiny:0.5, small:1, medium:3, large:4) !default;
$box-radius: (tiny:4px, small:8px, medium:16px) !default;

$scale-tag-width-shorthand: w !default;
$scale-tag-height-shorthand: h !default;

$cssfabric-metadata: (
        title: "cssfabric",
        tag: "cssfabric",
        description: "cssfabric global config variables"
);

// vars
$vars-box-density: --box-density !default;
$vars-box-density-preset: --box-density-preset !default;

$vars-theme-color-shadow: --theme-color-shadow !default;
$vars-theme-dark-color-shadow: --theme-dark-color-shadow !default;

$cssfabric-config: (
        cfg-has-dimension-strict: true,
        CFG_HAS_DIMENSION_MIN: true,
        CFG_HAS_DIMENSION_MAX: true,
        size_step: 0.5rem,
        size-step-unit: rem,
        sep: "-",
        sizes: (
                tiny: 32,
                small: 64,
                medium: 128,
                large: 256,
                full: 100%
        ),
        media_quey_sizes: (
                xxl: 1300,
                xl: 1200,
                lg: 960,
                md: 760
        ),
        densities-ratios: $densities-ratios,
        themes:(
                light:(
                        foreground: $theme-color-foreground,
                        background: $theme-color-background,
                        paper: $theme-color-paper,
                ),
                dark:(
                        foreground: $theme-dark-color-foreground,
                        background: $theme-dark-color-background,
                        paper: $theme-dark-color-paper
                ),
        ),
        theme: (
                primary: $theme-color-primary,
                secondary: $theme-color-secondary,
                tertiary: $theme-color-tertiary,
                foreground: $theme-color-foreground,
                background: $theme-color-background,
                paper: $theme-color-paper,
        ),
        scheme: (
                discrete: #ccc,
                success: green,
                info: #FFDD57FF,
                warning: hsl(48, 96%, 46%),
                alert: hsl(27, 100%, 50%),
                error: red
        ),
        palette: (
                'yellow': #ffb900,
                'orange': #d83b01,
                'red': #d13438,
                'magenta': #b4009e,
                'purple': #5c2d91,
                'green': #107c10,
                'teal': #008272,
                'blue': #0078d4,
                'dark': #323232,
        ),
        border-radius:(
                tiny:4px, small:8px, medium:16px
        ),
        gray: getGraySteps($gray-steps, $gray-start, $gray-end),
        gray-config: (
                start: $gray-start,
                end: $gray-end,
                steps: $gray-steps
        )
);

@function getGraySteps($steps, $gray-start, $gray-end) {
  $gray-schemes: ();

  @for $i from 0 through $steps {

    $color: mix($gray-end, $gray-start, math.div($i , $steps) * 100%);

    $gray-schemes: map.set($gray-schemes, #{($i+1) * 100}, $color);
  }

  @return $gray-schemes;
}

$cssfabric-docs: ();
